# Xcode
.DS_Store
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio
Dependencies/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# Misc
*.ipa
*.dSYM.zip
*.dSYM
*.playground
timeline.xctimeline
playground.xcworkspace
